
body {
	font-family: Arial, sans-serif;
}

.left-footer {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}

header {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}

h1 {
	margin: 0;
	font-size: 36px;
}

nav ul {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav li {
	margin: 0 10px;
}

nav a {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
}

section {
	background-color: #f5f5f5;
	padding: 50px 0;
}

h2 {
	text-align: center;
	margin-bottom: 30px;
	font-size: 36px;
}

.product-info {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}

.product-info img {
	max-width: 400px;
}

.description {
	max-width: 500px;
}

ul {
	margin-bottom: 20px;
}

.price {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
}

#buy-button {
	background-color: #333;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 18px;
}
#home-button{
	background-color: blue;
	color: white;
	border-radius:  5px; 
	padding: 10px 20px;
	font-size: 17px;
	display: block;
	margin-top: 120px;
	margin-left: 15px;
}
#home-button:hover{
	background-color: aqua;
	cursor: pointer;
}
.prev-price{
    text-decoration: line-through;
}
footer {
	display: flex;
	justify-content: space-between;
}

@media screen and (max-width: 768px) {
    div {
        width: 100px;
        height: 100px;
    }
}