/* adjusted to desktop and multiple devices */
body {
  background-color: aliceblue;
  margin: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.nav-bar {
  background-color: white;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.icon-nav-bar {
  margin-left: 1vw;
}
#left-nav-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}
.nav-bar-right-side {
  height: auto;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.icon-search {
  width: 2.5vw;
  height: auto;
}
.search-bar {
  margin-left: -3vw;
  width: 30%;
}

.shopping-icon {
  margin-left: 20px;
  margin-right: 15px;
}
.nav-bar a {
  all: unset;
  cursor: pointer;
  font-size: 2vw;
}
.main-vid {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
video {
  width: -webkit-fill-available;
  object-fit: contain;
  overflow-clip-margin: content-box;
}
.main-text {
  position: absolute;
  top: 0;
  left: 10%;
  color: snow;
  font-size: 140%;
  text-align: center;
  width: 80%;
  height: 100%;
  overflow-y: auto;
  text-shadow: 2px 2px #100101;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

#head-line {
  text-align: center;
  color: lightcyan;
  font-size: 50px;
  text-decoration: wavy;
  margin-bottom: 3em;
  margin-top: 2em;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product {
  width: 250px;
  background-color: white;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 15px grey;
}

.product img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.product h3 {
  text-align: center;
  font-size: 24px;
  margin: 0;
  margin-bottom: 10px;
  color: #333;
}

.product p {
  margin: 0;
  margin-bottom: 10px;
  font-size: 16px;
  color: #666;
  text-align: center;
}

.product button {
  margin-left: 75px;
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}

.product button:hover {
  background-color: gray;
}

footer {
  background-color: #333;
  height: 70px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.social-media {
  display: flex;

  color: #fff;
  font-size: 20px;
  margin-right: 10px;
}
#instagram {
  margin-right: 3vw;
}
#whatsapp {
  margin-right: 3vw;
}
#twitter {
  margin-right: 3vw;
}
.contact-us h3 {
  margin-bottom: 10px;
}

